{% extends 'base.html' %}
{% block title %}All courses{% endblock title %}
{% block content %}
<div class="cards-container">
<ul class="cards">
  {% for course in courses %}
  <li class="card">
    <video controls>
      <source src="{{ course.promotion.url }}" type="video/mp4">
    </video>
    <div class="card-body">
      <div class="card-content">
        <h1>{{ course.title }}</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At, laboriosam!</p>
        
        {% if course.payment_status == 'paid' %}
        <a class="btn-call" href="{% url 'course-detail' course.pk %}"><i class="fa-solid fa-dollar-sign"></i>Go to course</a>
        {% endif %}

        {% if course.payment_status == 'free'  %}
        <a class="btn-primary" href="{% url 'course-detail' course.pk %}"><i class="fa-solid fa-lock-open"></i>Go to course</a>
        {% endif %}
      </div>
      <div class="card-footer">
        <p><i class="fa-solid fa-video"></i>{{ course.number_of_lessons }}</p>
        <p><i class="fa-solid fa-calendar-days"></i>{{ course.date_published }}<p>
        <p><i class="fa-solid fa-dollar-sign"></i>{{ course.price }}</p>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
</div>
{% endblock content %}