@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,700&display=swap');


* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --primary: #003049;
  --secondary: #f77f00;
  --accent: #d62828;
  --white: #f8f9fa;
  --black: #212529;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--white); 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}

a:hover {
  transition: .5s;
}

hr {
  height: 1px;
  background-color: black;
  margin: 5px;
}

.container {
  width: 80%;
  margin: auto;
}

.brand {
  font-size: 2rem;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--accent);
  padding: 1em 3em;
  border-radius: 5px;
  color: var(--white);
}

.btn-primary:hover {
  background-color: #c1121f;

}


/* =====================
    Navbar
======================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  background-color: var(--primary);
  border-bottom: 1px solid var(--secondary);
  padding: 0 5em;
}

.navbar  a {
  color: var(--white);
  display: inline-block;
  padding: .75em 1.5em;
}

.navbar  a:hover {
  color: var(--secondary);
}


/* =====================
    Navbar
======================= */
.hero {
  display: flex;
  min-height: 90vh;
  align-items: center;
  justify-content: start;
  background-color: var(--primary);
}

.hero > img {
  min-width: 50vw;
}


.hero-content {
  min-width: 30vw;
  font-size: 4rem;
  line-height: 7rem;
}

.hero-content > h1 {
  color: var(--white);
}

/* ==================
  Cards 
==================== */
.cards {
  margin: 1em 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card > img {
  width: 100%;
}

.card > .body {
  padding: 10px;
}
.body > h1 {
  font-size: 1.5rem;
}

.body > h2 {
  font-size: 1rem;
  font-weight: 400;
}


/* ===================
  Lesson
======================= */
.lesson-flex {
  width: 80%;
  display: flex;
  gap: 5em;
  margin: auto;
}

.player > video {
  width: 780px;
  height: 450px;
}